# Diretório de build do Maven
/target/

# Arquivos de log
*.log

# Arquivos e pastas gerados pelo IntelliJ IDEA
.idea/
*.iml

# Arquivos de compilação Java
*.class

# Maven Wrapper (deixe esse jar versionado)
!.mvn/wrapper/maven-wrapper.jar

# Arquivos de erro da JVM
hs_err_pid*
replay_pid*
